
.container{
	display: grid;
	grid-template-columns: 3fr 3fr;
}
#iphone{
	border: solid;

}
#no2{
	border:solid;
}






.con1{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}
#no3{
	border:solid;
}
#no4{
	border:solid;
}
#no5{
	border:solid;
}
